
<nav #navCollapse class="navbar navbar-expand-lg navbar-absolute navbar-minimize-fixed">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="/"><span class="">COVID-19 Medical Inventory</span> <br>
        <sup class="textMobile">An Initiative of the Office of Principal Scientific Adviser (Govt. of India)</sup>
      </a>
    </div>
    <button  class="navbar-toggler" (click)="fun()"type="button" aria-expanded="false" >
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item  input-group">
          <button class="btn btn-block" (click)="home()">
            Home
          </button>
        </li>
        <li class=" nav-item input-group">
          <button class="btn btn-block" (click)="faqs()">
            FAQ
          </button>
        </li>
        <li class="nav-item input-group">
          <button class="btn btn-block" (click)="about()">
            About
          </button>
        </li>
        <li class="separator d-lg-none"></li>
      </ul>
    </div>
  </div>
</nav>
<app-predictions  [hidden]="!viewmap"></app-predictions>
<app-faqs [hidden]="!viewfaqs"></app-faqs>
<app-about [hidden]="!viewabout"></app-about>
