<div class="wrapper">
  <div class="main-panel">
    <app-navbar></app-navbar>
     <!-- End Navbar -->
      <div class="content">
        <div class="row justify-content-center">
            <!-- <app-notification class="col-md-12"> 

            </app-notification> -->
     
          <div class="col-md-6">
            <div class="card">
              <div class="card-header mb-5">
                <h1>About this site </h1>
              
              </div>
              <div class="card-body">
                <div class="typography-line"> 
                  <h4 class="card-title">This web application provides
                  a 3-week projected requirement for various medical
                  inventory across districts, states, and the national
                  level.  This should be helpful in planning for
                  infrastructure, arranging essential human resources
                  and procurement of materials. MSMEs and other
                  industries working in the production and supply
                  chain of these essentials may use these projections
                  to support their local government administration. </h4> 
                </div>
              </div>

	      <h2>Patient Data</h2>
	      
	      
              <div class="card-body">
                <div class="typography-line">
                  <h4 class="card-title">The district-wise projections
                  for COVID-19 carrier patients comes
                  from a
                  model <a href="http://mesoscalelab.github.io/covid19" 
                  class="text-success"
                  target="_blank">mesoscalelab.github.io/covid19 </a>,
                  developed by Dr. Santosh Ansumali
                  (Engineering Mechanics Unit, <a class="text-success"
                  href="http://www.jncasr.ac.in/"
                  target="_blank">JNCASR</a> , Bengaluru)  and
                  Dr. Aloke Kumar (Mechanical
                  Engineering, <a class="text-success"
                  href="http://www.iisc.ac.in"
                  target="_blank">IISc</a> , Bengaluru).  This model
                    uses the patient database from
                  <a class="text-success"
                  href="https://www.covid19india.org/"
                  target="_blank">covid19india.org</a>, which is
		    a crowd-sourced (sanitised and
                  self-correcting) public data base of reported
                  COVID-19 positive cases in the country.
		  </h4> 
                </div>
              </div>

	      <h2>Inventory Data</h2>

              <div class="card-body">
                <div class="typography-line">
                  <h4 class="card-title">
		    The model for
                  the projected inventory requirement
		    <a href="/doc/aboutinv.pdf" class="text-success"
                  target="_blank">(PDF link here)</a> was developed by
                  Dr. Deepak Padmanabhan (MD, DM,
                  Cardiologist, <a class="text-success"
                  href="http://www.jayadevacardiology.com/"
                  target="_blank">Sri Jayadeva Institute of
                  Cardiology</a>, Bengaluru) and Prof. P Sunthar
                  (Chemical Engineering, <a class="text-success"
                  href="http://www.iitb.ac.in/" target="_blank">IIT
                  Bombay</a>, Mumbai). This is based on the various levels of
                  severity of the disease and the type of care and
                  equipment each case needs. See details in the 
		    <a href="/doc/aboutinv.pdf" class="text-success"
                  target="_blank">PDF document</a>.
                  </h4>
                </div>
              </div>

	      <h2>Web Application</h2>
	      
              <div class="card-body">
                <div class="typography-line">
                  <h4 class="card-title">The web application was
                  conceived and is managed by P Sunthar, designed and
                  developed by <a class="text-success"
                  href="https://www.bevyinsight.com/"
                  target="_blank">Bevy Insight</a> (thanks to: Pramila
                  Shankar and Mayank Modi). The data API
                  to <a class="text-success"
                  href="https://mesoscalelab.github.io/covid19/"
                  target="_blank">mesoscalelab.github.io/covid19</a>
                  was provided by Dr. Soumyadeep Bhattacharya
                  (SankhyaSutra Labs Pvt. ltd). The district level map
                  was obtained from 
                  Guneet Narula (<a class="text-success"
                  href="https://github.com/guneetnarula/indian-district-boundaries/tree/master/topojson"
                  target="_blank">@github</a>).  Deepak Kumar (GE),
                  Mahendra Kumar Sharma (Reliance Industries) and
                  Anandroop Achari (TiVo India) helped in the initial
                  mockup and ideatory discussions.
		  </h4> 
                </div>
              </div>


              <div class="card-body">
                <div class="typography-line">
                  <h4 class="card-title">This website was
                  developed on an initiative of the Office of the
                  <a href="http://psa.gov.in" class="text-success"
                  target="_blank">Principal Scientific 
                  Adviser</a> to the Government of
                  India.</h4> 
                </div>
              </div>

	      
              <h2 class="card-title">For queries and
                clarifications not covered in
                the <a href="/faqs">FAQ</a>, please write to</h2>
              <div class="card-body">
                <div class="typography-line">
                  <ol>
                    <li>  <h4 class="card-title">Santosh Ansumali
			&#60;
			<a  class="text-success"
			    href="http://www.jncasr.ac.in/ansumali/"
			    target="_blank">ansumali at jncasr . ac . in </a>
                     &#x3e; or
			Aloke Kumar &#60;
			<a class="text-success"
			   href="http://www.kumarlab.com/"
			   target="_blank">alokekumar at iisc . ac . in</a>
			&#x3e;
			for details regarding the Patient projection data.</h4></li>
                    <li>  <h4 class="card-title">P Sunthar
			&#60;
		      <a class="text-success"
                  href="https://www.che.iitb.ac.in/faculty/p-sunthar"
                  target="_blank">p.sunthar at iitb . ac . in </a>
                     &#x3e; for concerns regarding the inventory
                  prediction or any other aspect of this
                  website. </h4></li> 
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
</div>
