<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="/">COVID-19 Medical Inventory <br>
        <sup>An Initiative Of Principal Scientific Adviser</sup>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item  input-group">
          <a class="btn" href="/">
            Home
          </a>
        </li>
        <li class=" nav-item input-group">
          <a class="btn" href="/faqs">
            FAQ
          </a>
        </li>
        <li class="nav-item input-group">
          <a class="btn" href="/about">
            About
          </a>
        </li>
        <li class="separator d-lg-none"></li>
      </ul>
    </div>
  </div>
</nav>
