<div class="wrapper">
  <div class="main-panel ps">
    <!-- <app-navbar></app-navbar> -->
    <!-- End Navbar -->
    <div class="content col-lg-12 col-lg-12 col-md-12 col-sm-12">
      <div class="row">


        <!-- App Notification -->
        <app-notification class="col-md-12 col-sm-12"></app-notification>


        <!-- <div class="row"> -->
        <div class="col-sm-12 col-sm-12 text-left">
          <h3 class="card-title pl-20">Requirement Projection (District-wise) </h3>
        </div>

        <!-- Map - Open -->
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 hide">
          <!--to hide map on mobile view add 'hide' to class here-->
          <div class="card card-chart">
            <div class="card-body">
              <div id="main" class="svg-parent">
                <div class="tooltip " id="tooltip"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Map - Close -->

        <!-- Drop Down - Open -->
        <div class=" col-lg-12 col-md-12 col-sm-12 display ">
          <!--to display dropdown on mobile view add 'display' to class here-->
          <h4 class="card-title">Select State & City</h4>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div >
                <button class="dropdown-toggle btn btn-primary btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  State
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <h6 class="dropdown-header">Dropdown header</h6>
                  <a class="dropdown-item" href="#">Action</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div >
                <button type="button" class="btn btn-danger btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  District
                </button>
                <div class="dropdown-menu">
                  <h6 class="dropdown-header">Dropdown header</h6>
                  <a class="dropdown-item" href="#">Action</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Drop Down - Close -->

        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
          <div class="card card-chart">
            <div class="card-header col-12">

              <!-- Table - Header Open -->
              <div class="row">
                <!-- row start-->
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12  text-left">
                  <h3 class="card-title">{{Thead.dname}} {{Thead.dname !==''?',':''}} {{Thead.sname}}</h3>
                  <h3 class="card-title">{{Sdate?.date|date:'fullDate'}}</h3>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 ">
                  <div class="row">
                    <!-- row start-->
                    <div class="col-12">
                      <div #buttonToggle id="weeks" class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                        <label *ngFor="let d of DataMp;let i = index" class="btn btn-sm btn-primary btn-simple" [ngClass]="{'active': d.type}" id="{{d.id}}" (click)="handleChange(d)">
                          <input type="radio" value="{{d.map}}" name="options">
                          <span class="d-sm-block d-md-block d-lg-block d-xl-block">{{d.name}}</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-12 mt-md-3 mt-sm-5 ">
                      <div #buttonToggle2 id="weeks" class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                        <label *ngFor="let d of displayedTypes;let i =
																			 index" class="btn btn-sm
																										 btn-primary
																										 btn-simple"
															 [ngClass]="{'active': i==0}" id="{{d.id}}" (click)="handleChangeParam(d)">
                          <input type="radio" value="{{d.id}}" name="options">
                          <span class=" d-sm-block d-md-block d-lg-block d-xl-block">{{d.name}}</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-12 mt-md-3 mt-sm-5 ">
                      <div #buttonReset id="weeks" class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                        <label (click)="resetView()">
                          <input type="radio" name="options">
                          <span class=" d-sm-block d-md-block
                          d-lg-block d-xl-block">Reset all</span>
                        </label>
                      </div>
                    </div>
										
                  </div><!-- row end-->
                </div>
              </div><!-- row end-->
              <!-- Table - Header CLose -->

              <!-- Table - Body Open -->
              <div class="card-body ">
                <div class="row">

                  <div class="col-md-12 card-body">
                    <ul class="nav nav-tabs nav-tabs-responsive " id="nav-tab" role="tablist">
                      <li *ngFor="let D1 of DataTBL;let i=index"><a class="nav-item nav-link {{i==0?'show active':''}}" aria-selected="true" href="#{{D1.id}}" role="tab" data-toggle="tab"><b>{{D1.name}}</b></a></li>
                    </ul>
                  </div>

                  <div class="col-md-12">
                    <div class="tab-content">
                      <div role="tabpanel" *ngFor="let D1 of DataTBL;let i=index" class="card-body tab-pane fade {{i==0?'show active':''}}" id="{{D1.id}}" role="tabpanel" [attr.aria-labelledby]="D1.id">
                        <div class="col-sm-12 text-left">
                          <h2 class="card-title textMobile">{{D1.name}}</h2>
                        </div>
                        <div class="">
                          <div class="table-scroll ">
                            <table class="table tablesorter" id="" style="max-height: 410px;">
                              <thead class=" text-primary">
                                <tr>
                                  <th *ngFor="let  head of displayedColumns">

                                    {{head}}
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let TBL of dataSource[i]">
                                  <td *ngFor="let  head of displayedColumns">
                                    {{TBL[head]}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Table - Body Close -->

            </div>
          </div>
        </div>
        <!-- </div> -->



      </div>
    </div>
