<div class="wrapper">
  <div class="main-panel ps">
    <div class="content">
      <div class="row justify-content-center">

        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h1>Requirements for a 10-Bed ICU</h1>
            </div>
            <div class="card-body">
              <div class="typography-line">
                <p>This page provides the requirements for a 10-bed
                ICU that can cater to COVID-19 patients requiring
                mechanical ventilation support. They are classified
                  under the heads of:
                </p>
                <ul>
                  <li><a href="/appendix/icu#staff">Staffing</a></li>
                  <li><a href="/appendix/icu#ppe">Personal Protective
                  Equipment (PPE)</a></li>
                  <li><a href="/appendix/icu#infra">Infrastructure</a></li>
                  <li><a href="/appendix/icu#equip">Equipment</a></li>
                  <li><a href="/appendix/icu#drugs">Drugs</a></li>
                  <li><a href="/appendix/icu#expend">Expendables</a></li>
                  <li><a href="/appendix/icu#oxygen">Oxygen related items</a></li>
                  <li><a href="/appendix/icu#linen">Linen</a></li>
                  <li><a href="/appendix/icu#pantry">Pantry and
                  Miscellaneous</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!--card-->

        <!-- <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12"> -->
        <!--   <div class="card"> -->
        <!--     <div class="card-header mb-5"> -->
        <!--       <h2>ICU Planning Recommendation</h2> -->
        <!--     </div> -->
            
        <!--     <div class="card-body"> -->
        <!--       <p>Based on the projections for 4-weeks, the following -->
        <!--       resource allocation and planning is suggested for -->
        <!--       various levels.</p> -->
        <!--       <h3>District Level</h3> -->
        <!--       <ol> -->
	<!--         <li> -->
	<!-- 	  <p>Identify locations of COVID ICU preferably as a -->
	<!-- 	  hub and spoke with medical college</p> -->
	<!-- 	  <ol> -->
	<!-- 	    <li> -->
	<!-- 	      <p>District Hospitals/CHCs</p> -->
	<!-- 	    </li> -->
	<!-- 	    <li> -->
	<!-- 	      <p>Medical College ICUs</p> -->
	<!-- 	    </li> -->
	<!-- 	    <li> -->
	<!-- 	      <p>Private hospitals in PPP model</p> -->
	<!-- 	    </li> -->
	<!-- 	  </ol> -->
	<!--         </li> -->
	<!--         <li> -->
	<!-- 	  <p>Identify leaders and resources for COVID ICUs -->
	<!-- 	  (One ICU for a population of 2 lakhs; 1 lakh for -->
	<!-- 	  hilly terrain)</p> -->
	<!-- 	  <ol> -->
	<!-- 	    <li> -->
	<!-- 	      <p>Eg. 2c above, District with 2 million -->
	<!-- 	      population</p> -->
	<!-- 	    </li> -->
	<!-- 	    <li> -->
	<!-- 	      <p>Do we have 50 designated leaders? If not -->
	<!-- 	      outsource from Private/Train them</p> -->
	<!-- 	    </li> -->
	<!-- 	    <li> -->
	<!-- 	      <p>100 ICU beds for each district with minimum -->
	<!-- 	      50 ventilators</p> -->
	<!-- 	    </li> -->
	<!-- 	  </ol> -->
	<!--         </li> -->
        <!--       </ol> -->
        <!--       <p>Implications at Central/State levels for -->
        <!--       ventilators</p> -->
        <!--       <ol> -->
	<!--         <li> -->
	<!-- 	  <p>Plan to ensure availability/procure about 50000 -->
	<!-- 	  ventilators at Centre</p> -->
	<!--         </li> -->
	<!--         <li> -->
	<!-- 	  <p>Ensure at least 35,000 are available to 7000 -->
	<!-- 	  ICUs</p> -->
	<!--         </li> -->
	<!--         <li> -->
	<!-- 	  <p>Distribute 20% (10000) Ventilators to states as -->
	<!-- 	  state reserve</p> -->
	<!--         </li> -->
	<!--         <li> -->
	<!-- 	  <p>Keep 10% (5000) as National reserve</p> -->
	<!--         </li> -->
        <!--       </ol> -->
        <!--       <p>State and national reserves provide requisite agility -->
        <!--       when hotspots appear</p> -->
        <!--       <p>Handling Hotspots</p> -->
        <!--       <ol> -->
	<!--         <ol> -->
	<!-- 	  <li> -->
	<!-- 	    <p>Try to predict development of hotspots</p> -->
	<!-- 	  </li> -->
	<!-- 	  <li> -->
	<!-- 	    <p>Use website to project possible spike in 1 -->
	<!-- 	    week</p> -->
	<!-- 	  </li> -->
	<!-- 	  <li> -->
	<!-- 	    <p>Use Resources on sharing basis as per -->
	<!-- 	    predictions</p> -->
	<!-- 	  </li> -->
	<!--         </ol> -->
        <!--       </ol> -->

              
        <!--     </div> <\!--card-body-\-> -->
        <!--   </div> <\!--card-\-> -->
        <!-- </div> <\!--col6-\-> -->

        

        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h2 id="staff">Staffing</h2>
            </div>
            
            <div class="card-body">
              <div class="table-scroll ">
                <table class="table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th> Item </th>
                    <th> Measure </th>
                    <th> Remarks </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Doctors (Anesthesiologist / Intensivist)</td>
                    <td>4 per day</td>
                    <td>One per 6 hr shift</td>
                  </tr>
                  <tr>
                    <td>Resident Doctor (Anesthesiologist)</td>
                    <td>4 per day</td>
                    <td>One per 6 hr shift</td>
                  </tr>
                  <tr>
                    <td>Nurses</td>
                    <td>8 per day</td>
                    <td>Two per 6 hr shift</td>
                  </tr>
                  <tr>
                    <td>Paramedics</td>
                    <td>8 per day</td>
                    <td>Two per 6 hr shift</td>
                  </tr>
                  <tr>
                    <td>Housekeeper-male</td>
                    <td>4 per day</td>
                    <td>One per 6 hr shift</td>
                  </tr>
                  <tr>
                    <td>Housekeeper-Female</td>
                    <td>4 per day</td>
                    <td>One per 6 hr shift</td>
                  </tr>
                  <tr>
                    <td>Operating room assistant</td>
                    <td>4 per day</td>
                    <td>One per 6 hr shift</td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div> <!--card-body-->
          </div> <!--card-->
        </div> <!--col6-->

        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5"> 
              <h2 id="ppe">Personal Protective Equipment (PPE)</h2>
            </div>
            
            <div class="card-body"> 
              <div class="table-scroll "> 
                <table class="table tablesorter" id=""> 
                  <thead class=" text-primary"> 
                    <tr> 
                      <th> Item </th> 
                    <th> Measure </th> 
                    <th> Remarks </th> 
                  </tr> 
                </thead>
                <tbody>
                    <tr>
                      <td>Full PPE</td>
                      <td>80 per day</td>
                      <td>Gown, Hood, Goggles, N95 masks, Double
                      gloves: 72 for the 36 full time staff and 8 for
                      additional personnel who may have to come in for
                      eg X Ray tech)</td> 
                    </tr>
                    <tr>
                      <td>Heavy duty gloves</td>
                      <td>10 pairs/day</td>
                      <td>For use by housekeepers</td>
                    </tr>
                    <tr>
                      <td>Water proof aprons</td>
                      <td>10/day</td>
                      <td>For use by housekeepers and any procedure
                        requiring aprons</td> 
                    </tr>
                </tbody> 
                </table>
              </div>
            </div> <!--card-body--> 
          </div> <!--card-->
        </div> <!--col6-->
        

        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h2 id="infra">Infrastructure</h2>
            </div>
            
            <div class="card-body">
              <div class="table-scroll ">
                <table class="table tablesorter" id="">

                  <thead class=" text-primary">
                    <tr>
                      <th>Item</th>
                      <th>Measure</th>
                      <th>Remarks</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                    <tr>
                      <td>Large Room</td>
                      <td>20 m X 11 m</td>
                      <td>225 sqft space required for 1 patient in open ICU, 250 sq feet if ICU has a cubicle format. 10 patients need 2250 sqft area (209 sq mts).</td>
                    </tr>
                    <tr>
                      <td>Airconditioning</td>
                      <td></td>
                      <td>Hospital requirement of airconditioning is 1
                      ton AC for every 150-250 sqft. So for an area of
                      2550 sft we need about 10 tonne airconditioner,
                      with at least 12 air-changes per hour.</td> 
                    </tr>
                    <tr>
                      <td>Generator backup</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Medical gas pipeline</td>
                      <td></td>
                      <td>2 oxygen, 1 suction, 1 compressed air at each bed</td>
                    </tr>
                    <tr>
                      <td>Electrical points</td>
                      <td>6 per bed</td>
                      <td>2 for ventilator, 1 for air mattress, 1 for
                      monitor, 2 for infusion pump, nebulizer, DVT
                      pump etc</td>
                    </tr>
                    <tr>
                      <td>Area for expendables</td>
                      <td>5 m X 3 m</td>
                      <td>Drugs etc.</td>
                    </tr>
                    <tr>
                      <td>Area for oxygen cylinders</td>
                      <td>5 m X 3 m</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Area for equipment</td>
                      <td>5 m X 3 m</td>
                      <td>Stretchers, X ray m/c, Weelchair etc</td>
                    </tr>
                    <tr>
                      <td>Sluice room</td>
                      <td>3 m X 2 m</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Donning area</td>
                      <td>3 m X 2 m</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Doffing area</td>
                      <td>3 m X 2 m</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Wash rooms</td>
                      <td>3</td>
                      <td>staff-male, female and patients</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Duty station</td>
                      <td></td>
                      <td>for nurses and doctors</td>
                    </tr>
                    <tr>
                      <td>Fire extinguisher system</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Assured water supply</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Refrigerator</td>
                      <td>1</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Storage cupborads and racks</td>
                      <td>10</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Telephone</td>
                      <td>1</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Crash carts</td>
                      <td>2</td>
                      <td>for defibrillators</td>
                    </tr>
                    <tr>
                      <td>Procedure trolley</td>
                      <td>1</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Power extension boards</td>
                      <td>10</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Glass and aluminium partitions or privacy curtains</td>
                      <td>10</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Computer</td>
                      <td>1</td>
                      <td>with printer, Broadband (fibre or dongle),
                      UPS</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> <!--card-body-->
          </div> <!--card-->
        </div> <!--col6-->
        
        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h2 id="equip">Equipment</h2>
            </div>
            
            <div class="card-body">
              <div class="table-scroll ">
                <table class="table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th> Item </th>
                    <th> Measure </th>
                    <th> Remarks </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ICU Beds</td>
                    <td>10</td>
                    <td>With cardiac table monitors and bed-side
                    locker</td> 
                  </tr>
                  <tr>
                    <td>Multiparameter monitors</td>
                    <td>10</td>
                    <td>with one central monitoring station</td>
                  </tr>
                  <tr>
                    <td>Ventilators</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Defibrillator</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Air Mattress</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Portable X Ray m/c</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>ABG analyzer</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Glucometer</td>
                    <td>2</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Nebulizers</td>
                    <td>5</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Noiseless suction</td>
                    <td>5</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>IV Poles </td>
                    <td>15</td>
                    <td>preferably 50% with infusion pump charging
                    docks</td>
                  </tr>
                  <tr>
                    <td>Transport Ventilator</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>ICU Stretcher</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Wheel chair</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>X-ray view box </td>
                    <td>1</td>
                    <td>for displaying 3 films at a time</td>
                  </tr>
                  <tr>
                    <td>Laryngoscope</td>
                    <td>3</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Thermometer-digital</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>DVT prophylaxis calf pumps</td>
                    <td>4</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Portable USG with linear and Echo probes</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Bronchoscope</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Pyrogun or equivalent non contact thermometer</td>
                    <td>2</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Videolaryngoscope</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>CRRT/ Dialysis machine</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div> <!--card-body-->
          </div> <!--card-->
        </div> <!--col6-->

        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h2 id="drugs">Drugs</h2>
            </div>
            
            <div class="card-body">
              <div class="table-scroll ">
                <table class="table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th> Item </th>
                    <th> Measure </th>
                    <th> Remarks </th>
                  </tr>
                  <tr>
                    <th></th>
                    <th>(per day)</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Inj Ketamine (50mg/ml)</td>
                    <td>1 vial </td>
                    <td>10 ml vial for intubation</td>
                  </tr>
                  <tr>
                    <td>Inj Propofol (10mg/ml)</td>
                    <td>5 vials </td>
                    <td>Vial of 20 ml for sedation</td>
                  </tr>
                  <tr>
                    <td>Inj Midazolam (1 mg/ml)</td>
                    <td>140 vials </td>
                    <td>Vial of 5 ml for sedation</td>
                  </tr>
                  <tr>
                    <td>Inj Succinylcholine (50 mg/ml)</td>
                    <td>1 vial </td>
                    <td>Vial of 10 ml for intubation</td>
                  </tr>
                  <tr>
                    <td>Inj Atracurium (25 mg/2.5ml)</td>
                    <td>90 ampoules </td>
                    <td>for muscle relaxation</td>
                  </tr>
                  <tr>
                    <td>Inj Fentanyl (500 mcg/10ml)</td>
                    <td>30 ampoules</td>
                    <td>for analgesia and sedation</td>
                  </tr>
                  <tr>
                    <td>Inj Morphine (15 mg/ml)</td>
                    <td>30 ampoules </td>
                    <td>for analgesia and sedation</td>
                  </tr>
                  <tr>
                    <td>Inj Insulin (40 IU/ml)</td>
                    <td>2 vials </td>
                    <td>for glycemic control</td>
                  </tr>
                  <tr>
                    <td>Inj KCL (20 meq/10ml)</td>
                    <td>20 Ampoules</td>
                    <td>for correction of hypokalemia/td>
                  </tr>
                  <tr>
                    <td>Inj Pantoprazole (40 mg)</td>
                    <td>20</td>
                    <td>for stress ulcer prophylaxis</td>
                  </tr>
                  <tr>
                    <td>Inj LMWH (40mg)</td>
                    <td>20</td>
                    <td>for thromboprophylaxis</td>
                  </tr>
                  <tr>
                    <td>Inj Plain Heparin (5000 u/ml)</td>
                    <td>2</td>
                    <td>for thromboprophylaxis</td>
                  </tr>
                  <tr>
                    <td>Inj Ceftriaxone (1 gm)</td>
                    <td>20</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Tab Azithromycin (500 mg)</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Tab Hydroxychloroquine (200 mg)</td>
                    <td>30</td>
                    <td>procure as per prevailing ICMR guidelines</td>
                  </tr>
                  <tr>
                    <td>Inj Teicoplanin (200 mg)</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Inj Metronidazole (500 mg)</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Inj Ondansetron (4 mg)</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Inj Metoclopramide (10 mg)</td>
                    <td>5</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Inj Paracetamol (1 gm/100 ml)</td>
                    <td>20</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Tab Paracetamol (500 mg)</td>
                    <td>50</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Salbtamol respules</td>
                    <td>20</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Mesna respules</td>
                    <td>20</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Antihypertensive drugs</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Antidiabetic drugs</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>IV fluids (500 ml)</td>
                    <td>NS:30, RL:30, 5% D:20 bottles </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Inj 50% dextrose</td>
                    <td>10</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>Inj Calcium gluconate</td>
                    <td>5</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>Inj Adrenaline</td>
                    <td>5</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>Inj Atropine</td>
                    <td>5</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>Inj Glycopyrrolate</td>
                    <td>10</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>Inj Mephentermine</td>
                    <td>1</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>Inj Phenylephrine</td>
                    <td>1</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>Inj Hydrocortisone</td>
                    <td>5</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>Inj Phenargan/Avil</td>
                    <td>2</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>Inj Sodium bi carbonate</td>
                    <td>5</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>Inj Amiodarone</td>
                    <td>2</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>Inj Adenosine</td>
                    <td>2</td>
                    <td>crash-cart drug</td>
                  </tr>
                  <tr>
                    <td>other antibiotics as per local sensitivity patterns</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Inj Neostigmine</td>
                    <td>10</td>
                    <td>for reversal of Neuromuscular blockade</td>
                  </tr>
                  <tr>
                    <td>Inj Noradrenaline</td>
                    <td>60</td>
                    <td>For management of shock</td>
                  </tr>
                  <tr>
                    <td>Inj Vasopressin</td>
                    <td>6</td>
                    <td>For management of shock</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      The drug requirement has been calculated for the
                      worst case scenario when all 10 patients are on
                      ventilator. The actual requirement may be less
                      than this if only 50% patients are on ventilator
                      and remaining are on oxygen support only. Opioid
                      stocking requires specific licencing.
                    </td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div> <!--card-body-->
          </div> <!--card-->
        </div> <!--col6-->
        
        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h2 id="expend">Expendables</h2>
            </div>
            
            <div class="card-body">
              <div class="table-scroll ">
                <table class="table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th> Item </th>
                    <th> Measure </th>
                    <th> Remarks </th>
                  </tr>
                  <tr>
                    <th></th>
                    <th>(per day)</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Endotracheal tubes</td>
                    <td>20</td>
                    <td>5 for each of sizes: 7.0, 7.5, 8.0, 8.5 mm</td>
                  </tr>
                  <tr>
                    <td>Intubating bougie</td>
                    <td>4</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Guedels airway</td>
                    <td>4</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Nasopharyngeal airway</td>
                    <td>4</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>I gel size 3,4,5</td>
                    <td>1 each</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Suction tubing with Yankauer tip</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Suction catheters</td>
                    <td>20</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Closed suction catheter 12 and 14 F</td>
                    <td>15</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Elastoplast</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Durapore</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Catheter mount</td>
                    <td>20</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>HME with bacterial and viral filter</td>
                    <td>20</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Ventilator circuit</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Oxygen Face mask</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>NRBM</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Nasal prongs</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Ambu Bag</td>
                    <td>4</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Bains' circuit</td>
                    <td>2</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Anatomical Face mask sizes 3,4,5</td>
                    <td>4</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Glucometer strips</td>
                    <td>100</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Syringes 2ml</td>
                    <td>100</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Syringes 5ml</td>
                    <td>200</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Syringes 10ml</td>
                    <td>200</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Syringes 20ml</td>
                    <td>100</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Syringes 50ml</td>
                    <td>80</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Pressure Monitoring lines</td>
                    <td>50</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>3 way connectors</td>
                    <td>30</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>IV sets</td>
                    <td>30</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Blood Transfusion sets</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Intracath 20G,18G, 16G</td>
                    <td>20 each</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Extension lines </td>
                    <td>10 each</td>
                    <td>with 3 way-10 cm, 25cm, 50cm</td>
                  </tr>
                  <tr>
                    <td>Nasogastric tubes sizes 14, 16, 18F</td>
                    <td>5 each</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Foley's catheters assorted sizes</td>
                    <td>5</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Urometer</td>
                    <td>5</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Urobag</td>
                    <td>5</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>NIV masks</td>
                    <td>3</td>
                    <td>small, medium, large</td>
                  </tr>
                  <tr>
                    <td>ECG electrodes</td>
                    <td>60</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>USG jelly</td>
                    <td>3</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Lignocaine jelly</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Nitrile gloves box of 100</td>
                    <td>15</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Sterile gloves</td>
                    <td>100 each</td>
                    <td>assorted sizes 6.5/7/7.5</td>
                  </tr>
                  <tr>
                    <td>Alcohol based sanitiser 500ML</td>
                    <td>15</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>5% sodium hypochlorite</td>
                    <td>50 lt</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>ISI approved floor disinfectant</td>
                    <td>20 lt</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Hand wash Liquid soap 500ML</td>
                    <td>5</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Central lines- 3 lumen</td>
                    <td>5</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Percutaneous tracheostomy sets</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Tracheostomy tubes</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Diapers- medium, large</td>
                    <td>30</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>DVT stockings</td>
                    <td>10 pairs</td>
                    <td></td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div> <!--card-body-->
          </div> <!--card-->
        </div> <!--col6-->
        
        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h2 id="oxygen">Oxygen related items</h2>
            </div>
            
            <div class="card-body">
              <div class="table-scroll ">
                <table class="table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th> Item </th>
                    <th> Measure </th>
                    <th> Remarks </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Oxygen 6000 liters cylinder</td>
                    <td>40</td>
                    <td>Patient on ventilator requiring 100% oxygen will require 4-6 jumbo cylinders per day. So on average 4 jumbos per patient.</td>
                  </tr>
                  <tr>
                    <td>Oxygen cylinder trolley</td>
                    <td>2</td>
                    <td>For 6000 lit cylinder for shifting of cylinders to manifold room</td>
                  </tr>
                  <tr>
                    <td>Oxygen cylinder 1246 liters</td>
                    <td>10</td>
                    <td>reserve /backup</td>
                  </tr>
                  <tr>
                    <td>Oxygen cylinder trolley</td>
                    <td>2</td>
                    <td>For 1246 lit cylinder, 10 full cylinders per day (only to be used for patient transport and as backup oxygen in case of oxygen pipeline failure)</td>
                  </tr>
                  <tr>
                    <td>Cylinder opening key</td>
                    <td>2+2</td>
                    <td>2 for Manifold room and 2 for ICU</td>
                  </tr>
                  <tr>
                    <td>Bull nose fitting with flowmeter</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Adjustable spanner</td>
                    <td>2+2</td>
                    <td>For fixing bull nose fitting, 2 for Manifold room and 2 for ICU</td>
                  </tr>
                  <tr>
                    <td colspan="3">The Oxygen requirement has been
                    calculated for the worst case scenario when all 10
                    patients are on ventilator and requiring high
                    FiO<sub>2</sub>. The actual requirement may be less than this
                    if only 50% patients are on ventilator and
                    remaining are on oxygen support only.</td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div> <!--card-body-->
          </div> <!--card-->
        </div> <!--col6-->
        
        
        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h2 id="linen">Linen</h2>
            </div>
            
            <div class="card-body">
              <div class="table-scroll ">
                <table class="table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th> Item </th>
                    <th> Measure </th>
                    <th> Remarks </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Bedsheets</td>
                    <td>100</td>
                    <td>1</td>
                    <td>10 per bed. This is one time purchase to cater for washing turnaround time of 2 days and to cater for new admission on same bed.</td>
                  </tr>
                  <tr>
                    <td>Pillows</td>
                    <td>40</td>
                    <td>1</td>
                    <td>4 per bed- 3 required for proning</td>
                  </tr>
                  <tr>
                    <td>Pillow covers</td>
                    <td>100</td>
                    <td>1</td>
                    <td>10 per bed (reusable)</td>
                  </tr>
                  <tr>
                    <td>Draw sheets</td>
                    <td>50</td>
                    <td>1</td>
                    <td>5 per bed (reusable)</td>
                  </tr>
                  <tr>
                    <td>Blankets</td>
                    <td>20</td>
                    <td>1</td>
                    <td>2 per bed (reusable)</td>
                  </tr>
                  <tr>
                    <td>Patient dress</td>
                    <td>40</td>
                    <td>1</td>
                    <td>4 per bed (reusable</td>
                  </tr>
                  <tr>
                    <td>Disposable paper towels</td>
                    <td>30 per day</td>
                    <td>1</td>
                    <td>Disposable; packs of 100 paper towels interfold</td>
                  </tr>
                  <tr>
                    <td>Bed bath wet tissues</td>
                    <td>50 per day</td>
                    <td>1</td>
                    <td>Disposable; 5 per patient per day</td>
                  </tr>
                  <tr>
                    <td>Hand Towel</td>
                    <td>40</td>
                    <td>2</td>
                    <td>4 per bed (reusable)</td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div> <!--card-body-->
          </div> <!--card-->
        </div> <!--col6-->
        
        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h2 id="pantry">Pantry and Miscellaneous</h2>
            </div>
            
            <div class="card-body">
              <div class="table-scroll ">
                <table class="table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th> Item </th>
                    <th> Measure </th>
                    <th> Remarks </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mixer grinder</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Gas stove/induction cooker</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>LPG connection with cylinder</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Utensils for heating and storing food</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Hot cases to bring food from the kitchen</td>
                    <td>2</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Serving utensils-plates, bowls etc</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Feeding glasses</td>
                    <td>20</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Spoons</td>
                    <td>10</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Refrigerator</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      Cleaning implements
                    </td>
                    <td></td>
                    <td>brooms, mops, buckets, mugs etc
                    </td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div> <!--card-body-->
          </div> <!--card-->
        </div> <!--col6-->



        
        
        <!-- <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12"> -->
        <!--   <div class="card"> -->
        <!--     <div class="card-header mb-5"> -->
        <!--       <h2>Staffing</h2> -->
        <!--     </div> -->
            
        <!--     <div class="card-body"> -->
        <!--       <div class="table-scroll "> -->
        <!--         <table class="table tablesorter" id=""> -->
        <!--           <thead class=" text-primary"> -->
        <!--             <tr> -->
        <!--               <th> Item </th> -->
        <!--             <th> Measure </th> -->
        <!--             <th> Remarks </th> -->
        <!--           </tr> -->
        <!--         </thead> -->
        <!--         <tbody> -->
        <!--         </tbody> -->
        <!--         </table> -->
        <!--       </div> -->
        <!--     </div> <\!--card-body-\-> -->
        <!--   </div> <\!--card-\-> -->
        <!-- </div> <\!--col6-\-> -->
        

      </div>
    </div>
  </div>
</div>

