<div class="wrapper">
  <div class="main-panel">
    <div class="content">
      <div class="row justify-content-center">

        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h1>Requirements for an 20-Bed Acute Care Unit</h1>
            </div>
            <div class="card-body">
              <div class="typography-line">
                <h4>This web application provides
                  a 3-week projected requirement for various medical
                  inventory across districts, states, and the national
                  level. This should be helpful in planning for
                  infrastructure, arranging essential human resources
                  and procurement of materials. MSMEs and other
                  industries working in the production and supply
                  chain of these essentials may use these projections
                  to support their local government administration. </h4>
              </div>
            </div>
          </div>
        </div> <!--card-->

        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h2>Infrastructure</h2>
            </div>
            
            <div class="card-body">
              <div class="table-scroll ">
                <table class="table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th> Item </th>
                    <th> Quantity </th>
                    <th> Additional Suggestion </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Large spacious room suitable to lay down 10 beds
                    </td>
                    <td>
                      Area: 20 m X 11 m
                    </td>
                    <td>
                      Space per 10 bed ICU with ancillaries as per
                      Appendix A per 10 bed unit. 225 sq feet space
                      required for 1 patient in open ICU, 250 sq feet
                      if ICU has a cubicle format. 10 patients need
                      2250 sq feet area=209sq mts. So the appx size of
                      the room would be 20 meters by 11 meters.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Airconditioning with at least 12 airchanges per hour
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      Hospital requirement of airconditioning is 1 ton
                      AC for every 150-250 sqft. So for an area of
                      2550 sft we need about 10 ton
                      Airconditioners
                    </td>
                  </tr>
                  
                </tbody>
                </table>
              </div>
            </div> <!--card-body-->
          </div> <!--card-->
        </div> <!--col6-->

        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h2>Expendables</h2>
            </div>
            
            <div class="card-body">
              <div class="table-scroll ">
                <table class="table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th> Item </th>
                    <th> Quantity </th>
                    <th> Additional Suggestion </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Large spacious room suitable to lay down 10 beds
                    </td>
                    <td>
                      Area: 20 m X 11 m
                    </td>
                    <td>
                      Space per 10 bed ICU with ancillaries as per
                      Appendix A per 10 bed unit. 225 sq feet space
                      required for 1 patient in open ICU, 250 sq feet
                      if ICU has a cubicle format. 10 patients need
                      2250 sq feet area=209sq mts. So the appx size of
                      the room would be 20 meters by 11 meters.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Airconditioning with at least 12 airchanges per hour
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      Hospital requirement of airconditioning is 1 ton
                      AC for every 150-250 sqft. So for an area of
                      2550 sft we need about 10 ton
                      Airconditioners
                    </td>
                  </tr>
                  
                </tbody>
                </table>
              </div>
            </div> <!--card-body-->
          </div> <!--card-->
        </div> <!--col6-->

        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-header mb-5">
              <h2>Staffing</h2>
            </div>
            
            <div class="card-body">
              <div class="table-scroll ">
                <table class="table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th> Item </th>
                    <th> Quantity </th>
                    <th> Additional Suggestion </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Large spacious room suitable to lay down 10 beds
                    </td>
                    <td>
                      Area: 20 m X 11 m
                    </td>
                    <td>
                      Space per 10 bed ICU with ancillaries as per
                      Appendix A per 10 bed unit. 225 sq feet space
                      required for 1 patient in open ICU, 250 sq feet
                      if ICU has a cubicle format. 10 patients need
                      2250 sq feet area=209sq mts. So the appx size of
                      the room would be 20 meters by 11 meters.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Airconditioning with at least 12 airchanges per hour
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      Hospital requirement of airconditioning is 1 ton
                      AC for every 150-250 sqft. So for an area of
                      2550 sft we need about 10 ton
                      Airconditioners
                    </td>
                  </tr>
                  
                </tbody>
                </table>
              </div>
            </div> <!--card-body-->
          </div> <!--card-->
        </div> <!--col6-->
        

      </div>
    </div>
  </div>
</div>

