<div class="wrapper">
    <div class="main-panel">
      <!-- <app-navbar></app-navbar> -->
       <!-- End Navbar -->
        <div class="content">
          <div class="row justify-content-center">
            <!-- <app-notification class="col-md-12">

            </app-notification> -->

            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 ">

              <div class="card">

                <div class="card-body">
                  <div class="typography-line">
                    <h1>Frequently Asked Questions</h1>
                  </div>
                  <ol >
                  <li><div class="typography-line">
                    <h3> How do I rely on the accuracy of the predictions?</h3>
                    <ol type="a">
                      <li><h4> As with any model with uncertainties, here
			  too we cannot assure exactness of the prediction. We
			  are continuously improving the predictions as we get
			  fresh data. Our model correctly captures
			  the generic behaviour seen across the world for
			  COVID-19. We have also provided two scenarios
			  “Moderate and Worst case”.  It is better to
			  be well stocked beforehand than to be without any
			  clue of the future requirements. </h4></li>
                    </ol>
                  </div>
                </li>
		<li><div class="typography-line">
                    <h3>I think the inventory estimate for item XYZ is
                      wrong or I want to see the estimate of item ABC. Whom
                      to contact?</h3> <ol type="a">
                      <li><h4>Please provide some justifications,
			  along with your professional experience and affiliation
			  in an email to

			  <a class="text-success"
			     href="https://www.che.iitb.ac.in/faculty/p-sunthar"
			     target="_blank">p.sunthar at iitb . ac
			    . in </a></h4>
		      </li>
		    </ol>
		  </div>
		<li><div class="typography-line">
		    <h3>Why is the current date older than today's date?</h3>

		    <ol type="a">
		      <li><h4>The prediction for infected cases is
			  currently based on a fixed initial date
			  (which will be advanced at regular
			  intervals). When the model is improved, the
			  "current" (initial) date will become closer
			  to the actual present date. </h4></li>
		    </ol>
		  </div>
		</li>
		<li><div class="typography-line">
		    <h3>The data for my district is not there. When
		      can I get the numbers?</h3>
		    <ol type="a">
		      <li><h4>The model for the prediction requires
			  that the district to have a significant
			  number of positive cases detected.  Once we
			  have that data, we will update this site as
			  well.
		      </h4></li>
		    </ol>
		  </div>
		</li>
		<li><div class="typography-line">
		    <h3>I know that my district has more than N
		    positive cases. Still, there are no projections,
		    why?</h3>
		    <ol type="a">
		      <li><h4>Please write to
			  <a class="text-success"
			     href="http://www.jncasr.ac.in/ansumali/"
			     target="blank">ansumali at jncasr . ac
			     . in </a> with the details of the number
			     and the dates they were discovered. We
			     will update the predictions after
			  verification from reliable sources
		      </h4></li>
		    </ol>
		  </div>
		</li>
		<li><div class="typography-line">
		    <h3> How do I obtain district level predictions</h3>
		    <ol type="a">
		      <li><h4>Use the India map on the left to zoom
			  into the state and
			  district.</h4></li> <li><h4>Hover the mouse
			  on the district to see the name. </h4></li>
		      <li><h4>Click on the chosen district.</h4></li>
		      <li><h4>The data for the inventory will appear on
			  the right. </h4></li> <li><h4>On the top, choose
			  the Week in future to get the projected numbers
			  for that week.</h4></li>
		    </ol>
		  </div>
		</li>
		<li><div class="typography-line">
		    <h3>How do I obtain a state and India level data?</h3>
		    <ol type="a">
		      <li><h4>Click on any district of the state.</h4></li>
		      <li><h4>The data for that district and the state and
			  national level will be displayed in the inventory
			  table.</h4></li>
		    </ol>
		  </div>
		</li>
	      </ol>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
